nav(role='navigation', ng-controller="headerController")
  div(class='container{{ fluid ? "-fluid" : "" }}')
    .navbar-header
      button.navbar-toggle#app-menu-toggle(type='button', data-toggle='collapse', data-target='#app-menu-collapsable')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand
        button.back(onclick='window.history.back()', ng-hide='home()', ng-if='back')
          i
            span.sr-only Back
        a.title(href='#')
          h1
            strong {{ title1 }}
              sup(ng-if='beta')  BETA {{ version || '' }}
              br
              | {{ title2 }}
      img.logo(ng-src='{{ logo }}', ng-if='logo')
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#app-menu-collapsable
      ul.nav.navbar-nav.navbar-right(ng-transclude)
